<a class="action--wishlist tile-actions--btn flex wishlist-btn" href="#" data-product-handle="{{ product.handle }}">

  <span>
  <img class="btn--main" src="{{ 'icn-wishlist.svg' | asset_url }}" alt="add to wishlist">
    
  </span>

</a>